<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.confirm.title}">Getafix email confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    For your Getafix account please use the token to confirm that this email belongs to you :<br/>
    Confirm token : <span th:style="'font-weight: bold; color: red;'" th:text="${confirmToken}"></span><br/>
    This token will expire within an hour.<br/>
</p>
<p>
<p>Thank you.<br/>- Getafix Team.</p>
<p>&nbsp;</p>
</p>
</body>
</html>
