<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.password.changed.title}">Account password changed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    The password for the account of this email in Getafix has been changed successfully.
</p>
<p>
<p>Thank you.<br/>- Getafix Team.</p>
<p>&nbsp;</p>
</p>
</body>
</html>
