<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.password.reset.title}">Account password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    For your Getafix account a password reset was requested, enter the provided reset token in the form :<br/>
    Reset token : <span th:style="'font-weight: bold; color: red;'" th:text="${resetToken}"></span><br/>
    This token will expire within an hour.<br/>
</p>
<p>
<p>Thank you.<br/>- Getafix Team.</p>
<p>&nbsp;</p>
</p>
</body>
</html>
